# Environments
.venv/
venv/
ENV/
env/

# Node dependencies
node_modules/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs & temp
*.log
temp/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local